.chatbox{
    margin-top:5%;
    border: 2px solid black;
    padding-left:5%;
    padding-right:5%;
    padding-top:3%;
    padding-bottom:3%;
}

body{
    margin:5%;
    border-radius: 5%;
    background-color: rgb(255, 227, 115);
}

ul{
    display: flex;
    flex-direction: column-reverse;
}

h1 {
    text-shadow: 2px 2px red;
  }

  h4 {
    font-family: "Lucida Console", "Courier New", monospace;
  }